
.bg-gray-50 {
    background-image: url(https://www.lavanguardia.com/andro4all/hero/2023/01/Fondos-de-pantalla-para-movil.jpg?width=1200);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}